<div class="container w-30-percent-lg">
  <h1 class="title mb-30">Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'new_user form-user mb-30'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username, class: 'label lowercase' %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'input-text w-100-percent mb-30' %>
    </div>

    <div class="field">
      <%= f.label :email, class: 'label lowercase' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-text w-100-percent mb-30' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label lowercase' %>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'input-text w-100-percent mb-30' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'label lowercase' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input-text w-100-percent mb-30' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn-submit' %>
    </div>
  <% end %>
  <div class="link-form form-user text-undecorated color-green">
    <%= render "devise/shared/links", class: 'form-user' %>
  </div>
</div>