<%= form_with(model: meme, local: true) do |form| %>
  <% if meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
        <% meme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.select(:type, Meme::VALID_TYPE, include_blank: false) %>
  </div>

  <div class="field">
    <%= form.label :url_source %>
    <%= form.text_field :url_source, required: true %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:name),:id,:name, {:include_blank => "Category name"}, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Create!" %>
  </div>
<% end %>
