<%= form_with(model: meme, local: true, :html => {:class => 'form-memes mb-30'}) do |form| %>
  <% if meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
        <% meme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, required: true, class: 'input-text w-100-percent mb-30' %>
  </div>

  <div class="field">
    <%= form.label :type, class: 'label' %>
    <%= form.select(:type, Meme::VALID_TYPE, include_blank: false) %>
  </div>

  <div class="field">
    <%= form.label :url_source, class: 'label' %>
    <%= form.text_field :url_source, required: true, class: 'input-text w-100-percent mb-30' %>
  </div>

  <div class="field">
    <%= form.label :category_id, class: 'label' %>
    <%= form.collection_select :category_id, Category.order(:name),:id,:name, {:include_blank => "Category name"}, required: true %>
  </div>

  <div class="actions mt-30">
    <%= form.submit "Create!", class: 'btn-submit' %>
  </div>
<% end %>
