<p id="notice"><%= notice %></p>

<h1>Memes</h1>

    <% @data.each do |key, memes| %>
      <h1><%= key %></h1>
      <div>
      <% memes.each do |meme| %>
        <a href="/memes/<%=meme.id%>">
          <img src="<%= meme.url_source %>" alt="<%= meme.title %>" width="220">
        </a>
      <% end %>
      </div>
    <% end %>
<br>

<%= link_to 'New Meme', new_meme_path %>
