<p id="notice"><%= notice %></p>

<h1>Most popular memes</h1>
<div>
  <% @data.each do |meme| %>
    <a href="/memes/<%=meme.id%>">
      <img src="<%= meme.url_source %>" alt="<%= meme.title %>" width="220">
    </a>
  <% end %>
</div>
<br>

<%= link_to 'New Meme', new_meme_path %>
