<p id="notice"><%= notice %></p>
<%if user_signed_in?%>
  <%=link_to "My Profile", "/my_profile"%>
  <%=link_to "Log Out", destroy_user_session_path, method: :delete%>
<%else%>
  <%=link_to "Sign In", new_user_session_path%>
<%end%>

<h1>
  <%= @meme.title %>
</h1>

<img src="<%= @meme.url_source %>" alt="<%= @meme.title %>" width="220">

<p>
  <strong>Category:</strong>
  <%= @meme.category.name %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @meme.votes.count %>
</p>

<% if current_user %>
  <% if vote = Vote.find_by(user: current_user, meme: @meme) %>
    <%= render '/votes/form_update', locals: { meme_id: @meme.id } %>
  <% else %>
    <%= render '/votes/form_new', locals: { meme_id: @meme.id } %>
  <% end %>
<% else %>
  <p>Login to add a vote!</p>
<% end %>

<p>
  <strong>Comments:</strong>
  <% if current_user %>
    <%= render '/comments/form', locals: { meme_id: @meme.id } %>
  <% else %>
    <p>Login to add a comment!</p>
  <% end %>
  <% @meme.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>
</p>