<p id="notice"><%= notice %></p>

<h1>
  <%= @meme.title %>
</h1>

<img src="<%= @meme.url_source %>" alt="<%= @meme.title %>" width="220">

<p>
  <strong>Category:</strong>
  <%= @meme.category.name %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @meme.votes_count %>
</p>

<% if current_user %>
<% else %>
  <p>Login to add a vote!</p>
<% end %>

<p>
  <strong>Comments:</strong>
  <% if current_user %>
    <%= render 'comments/form', locals: { meme_id: @meme.id } %>
  <% else %>
    <p>Login to add a comment!</p>
  <% end %>
  <% @meme.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>
</p>