<p id="notice"><%= notice %></p>

<h1>
  <%= @meme.title %>
</h1>

<img src="<%= @meme.url_source %>" alt="<%= @meme.title %>" width="220">

<p>
  <strong>Category:</strong>
  <%= @meme.category.name %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @meme.votes_count %>
</p>

<p>
  <strong>Comments:</strong>
  <% @meme.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>
</p>