<p id="notice"><%= notice %></p>

<main class="user">

  <h1>My account</h1>

  <div class="user__info">
    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong># of memes:</strong>
      <%= @user.memes_count %>
    </p>

    <%= link_to 'Edit', edit_user_registration_path %>
  </div>

</main>
